<% if @pois.count == 0 %>
  <h1>No results found. </h1>
<% else %>
<ul class="edgetoedge">	
<% @pois.each do |poi| %>
  <li class="arrow"><%= link_to(poi.name, "/things/#{poi.lpid}" )%></li>
<% end %>
</ul>
<% end %>

<% unless @title == 'all' %>
  <% if @place %>
<ul>
  <li class="arrow"><%= link_to("Show all things for this place", "/places/#{@place_id}/things/all" )%></li>	
</ul>	
  <% end %>

  <% if @bounding_box %>
<ul>
  <li class="arrow"><%= link_to("Show all things for this area", "/things/in/#{@bounding_box}/all")%></li>
</ul>	
  <% end %>
<% end %>