	
<% if @pois.count == 0 %>
  <h1>No results found. </h1>
<% else %>

<ul class='rounded'>		
<% @pois.each do |poi| %>
  <li class="arrow"><%= link_to(poi.name, "/things/#{poi.lpid}", :class => "search" )%></li>
<% end %>
</ul>
<% end %>

<% unless @title == 'all' %>
  <% if @place %>
<ul class='rounded'>
  <li class="arrow"><%= link_to("Show all things for this place", "/places/#{@place_id}/things/all", :class => "search" )%></li>	
</ul>	
  <% end %>

  <% if @bounding_box %>
<ul class='rounded'>
  <li class="arrow"><%= link_to("Show all things within #{human_meters(@distance)}", "/things/in/#{@bounding_box}/all", :class => "search")%></li>
</ul>	
  <% end %>
<% end %>


