<% if @places.count == 0 %>
  <h1>No results found. </h1>
<% else %>
<ul>
  <% @places.each do |place| %>
  <li class="slideSelector"><%= link_to(place.name, "/places/#{place.lpid}/pois" )%></li>
  <% end %>
</ul>

<% end %>







