<% if @places.count == 0 %>
  <h1>No results found. </h1>
<% else %>
<ul>
  <% @places.each do |place| %>
  <li class="slideSelector"><%= link_to(place.full_name, "/places/#{place.lpid}/pois?place_name=#{place.url_safe_name}" )%></li>
  <% end %>
</ul>

<% end %>







